
.background4{
	background: #0d47a1;
	height:300px;
}

.logo1{
	margin: 0; padding:0;
	color: #fff	;
	text-transform: uppercase;
	font-family: roboto;
	font-size: 40px;
	letter-spacing: 1px;
	padding-top: 75px;
	padding-left: 25px;
	

}

.icon-logo2{
	width: 40px;
	height: 40px;
	
}

.footer-text1, .footer-text2{
	color: #fff;
	margin: 0; padding:0;
	padding-left: 25px;
	padding-top: 25px;
}

.footer-text3, .footer-text4{
	color: #fff;
	margin: 0; padding:0;

	
}

.footer-text3{
	padding-right:  25px;
	font-size : 20px;
	margin: 0; padding:0;
	text-align: right;

}

.footer-text4{
	
	font-size : 20px;
	margin: 0; padding:0;
	text-align: right;
	padding-left: 25px;


}

.contact{
	
	
	padding-top: 100px;
	padding-left: 1000px;
	position: absolute;



}

.pos{
	position: absolute;
}